@use "global" as *;

.agents {
  padding-top: 40px;
  @media (min-width: $md) {
    padding-top: 60px;
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 12px;
    padding: 24px 16px;
    background: linear-gradient(90deg, #f6f6f6 43%, #d5e7fd 163%);
    border-radius: 32px;
    @media (min-width: $md) {
      padding: 48px 32px;
    }
    @media (min-width: $xl) {
      grid-template-columns: 528px minmax(0, 623px);
      grid-template-rows: auto auto;
      align-content: center;
      justify-content: space-between;
      gap: 32px 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: $md) {
      gap: 32px;
    }
  }

  &__label {
    margin: 0;
    font-family: "BlackerPro Text", serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: $md) {
      gap: 24px;
    }
  }

  &__title {
    font-size: 38px;
    @media (min-width: $md) {
      font-size: 60px;
      line-height: 60px;
    }
    span {
      color: $violet-light;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #9595a2;
    @media (min-width: $md) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (min-width: $xl) {
      max-width: 515px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 16px;
    @media (min-width: $md) {
      max-width: 403px;
    }
    @media (min-width: $lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-width: 515px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-head {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      background: #e5e2ea;
      border-radius: 11px;
      color: $violet-light;
      @media (min-width: $xxl) {
        width: 10px;
        height: 10px;
        background: none;
        border-radius: 0;
      }
      svg {
        width: 16px;
        height: 16px;
        @media (min-width: $xxl) {
          width: 10px;
          height: 10px;
        }
      }
    }

    &-title {
      margin: 0;
      font-family: "BlackerPro Text", serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.56px;
    }

    &-text {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: #717082;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 623px;
    margin: 0 auto;
    aspect-ratio: 935 / 852;
    @media (min-width: $xl) {
      grid-column: 2;
      grid-row: 1 / 3;
      align-self: center;
    }
    img {
      @include picture-img;
      object-fit: contain;
    }
  }

  &__button {
    justify-content: space-between;
    padding-right: 10px;
    @media (min-width: $md) {
      justify-self: start;
    }
    @media (min-width: $xl) {
      grid-column: 1;
      grid-row: 2;
    }
  }
}
