<div class="notify">
    <div class="container notify__inner">
        <p class="notify__text">Получите персональные рекомендации по экономии бюджета вашей компании от AI
            аналитика WEYRO</p>
        <a href="#" class="notify__link">Узнать больше</a>
        <button type="button" class="notify__close js-notify-close">
            <svg width="14" height="14">
                <use href="#i_cross"></use>
            </svg>
        </button>
    </div>
</div>

<div class="header-space"></div>
<header class="header">
    <div class="header__body">
        <div class="container header__body-inner">
            <a href="/" class="header__logo">
                <svg width="126" height="20">
                    <use href="#i_logo"></use>
                </svg>
            </a>

            <nav class="header__nav">
                <a href="#">Продукт</a>
                <a href="#">Для кого</a>
                <a href="#">Кейсы</a>
                <a href="#">О компании</a>
                <a href="#">Полезное</a>
            </nav>

            <div class="header__right">
                <div class="header__buttons">
                    <a href="#" class="button button_gradient">
                        Заказать демо
                        <svg width="24" height="24">
                            <use href="#i_arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="button">
                        Начать работу
                        <svg width="24" height="24">
                            <use href="#i_arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <a href="#" class="header__login">
                    <svg width="32" height="32">
                        <use href="#i_login"></use>
                    </svg>
                </a>
                <button type="button" class="header__burger js-burger-open"></button>
            </div>
        </div>
    </div>
</header>

<div class="header-mobile">
    <div class="header-mobile__overlay js-burger-close"></div>
    <div class="header-mobile__menu">
        <nav class="header-mobile__nav">
            <a href="#">
                Продукт
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
            <a href="#">
                Для кого
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
            <a href="#">
                Кейсы
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
            <a href="#">
                О компании
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
            <a href="#">
                Полезное
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
        </nav>
        <div class="header-mobile__bottom">
            <a href="#" class="button button_gradient">
                Заказать демо
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
            <a href="#" class="button">
                Начать работу
                <svg width="24" height="24">
                    <use href="#i_arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
