@font-face {
    font-family: "BlackerPro Text";
    src:
        url("BlackerPro.woff2") format("woff2"),
        url("BlackerPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
