@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-BoldItalic.eot");
    src:
        local("BlackerPro Display Condensed Bold Italic"),
        local("BlackerProDisplayCondensed-BoldItalic"),
        url("BlackerProDisplayCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-BoldItalic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-BoldItalic.woff") format("woff"),
        url("BlackerProDisplayCondensed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-Bold.eot");
    src:
        local("BlackerPro Display Condensed Bold"),
        local("BlackerProDisplayCondensed-Bold"),
        url("BlackerProDisplayCondensed-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Bold.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Bold.woff") format("woff"),
        url("BlackerProDisplayCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-Italic.eot");
    src:
        local("BlackerPro Display Condensed Italic"),
        local("BlackerProDisplayCondensed-Italic"),
        url("BlackerProDisplayCondensed-Italic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Italic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Italic.woff") format("woff"),
        url("BlackerProDisplayCondensed-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Regular.eot");
    src:
        local("BlackerPro Text Condensed Regular"),
        local("BlackerProTextCondensed-Regular"),
        url("BlackerProTextCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Regular.woff2") format("woff2"),
        url("BlackerProTextCondensed-Regular.woff") format("woff"),
        url("BlackerProTextCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Light.eot");
    src:
        local("BlackerPro Titling Diamond Light"),
        local("BlackerProTitlingDiamond-Light"),
        url("BlackerProTitlingDiamond-Light.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Light.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Light.woff") format("woff"),
        url("BlackerProTitlingDiamond-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display ExBd";
    src: url("BlackerProDisplay-ExtraboldItalic.eot");
    src:
        local("BlackerPro Display Extrabold Italic"),
        local("BlackerProDisplay-ExtraboldItalic"),
        url("BlackerProDisplay-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-ExtraboldItalic.woff2") format("woff2"),
        url("BlackerProDisplay-ExtraboldItalic.woff") format("woff"),
        url("BlackerProDisplay-ExtraboldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display Condensed ExBd";
    src: url("BlackerProDisplayCondensed-ExtraboldItalic.eot");
    src:
        local("BlackerPro Display Condensed Extrabold Italic"),
        local("BlackerProDisplayCondensed-ExtraboldItalic"),
        url("BlackerProDisplayCondensed-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-ExtraboldItalic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-ExtraboldItalic.woff") format("woff"),
        url("BlackerProDisplayCondensed-ExtraboldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Black.eot");
    src:
        local("BlackerPro Titling Diamond Black"),
        local("BlackerProTitlingDiamond-Black"),
        url("BlackerProTitlingDiamond-Black.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Black.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Black.woff") format("woff"),
        url("BlackerProTitlingDiamond-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling";
    src: url("BlackerProTitling-Regular.eot");
    src:
        local("BlackerPro Titling Regular"),
        local("BlackerProTitling-Regular"),
        url("BlackerProTitling-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Regular.woff2") format("woff2"),
        url("BlackerProTitling-Regular.woff") format("woff"),
        url("BlackerProTitling-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-MediumItalic.eot");
    src:
        local("BlackerPro Text Medium Italic"),
        local("BlackerProText-MediumItalic"),
        url("BlackerProText-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-MediumItalic.woff2") format("woff2"),
        url("BlackerProText-MediumItalic.woff") format("woff"),
        url("BlackerProText-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed Book";
    src: url("BlackerProTextCondensed-BookItalic.eot");
    src:
        local("BlackerPro Text Condensed Book Italic"),
        local("BlackerProTextCondensed-BookItalic"),
        url("BlackerProTextCondensed-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-BookItalic.woff2") format("woff2"),
        url("BlackerProTextCondensed-BookItalic.woff") format("woff"),
        url("BlackerProTextCondensed-BookItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling";
    src: url("BlackerProTitling-Medium.eot");
    src:
        local("BlackerPro Titling Medium"),
        local("BlackerProTitling-Medium"),
        url("BlackerProTitling-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Medium.woff2") format("woff2"),
        url("BlackerProTitling-Medium.woff") format("woff"),
        url("BlackerProTitling-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Regular.eot");
    src:
        local("BlackerPro Titling Inline Regular"),
        local("BlackerProTitlingInline-Regular"),
        url("BlackerProTitlingInline-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Regular.woff2") format("woff2"),
        url("BlackerProTitlingInline-Regular.woff") format("woff"),
        url("BlackerProTitlingInline-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-LightItalic.eot");
    src:
        local("BlackerPro Display Condensed Light Italic"),
        local("BlackerProDisplayCondensed-LightItalic"),
        url("BlackerProDisplayCondensed-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-LightItalic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-LightItalic.woff") format("woff"),
        url("BlackerProDisplayCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-HeavyItalic.eot");
    src:
        local("BlackerPro Text Condensed Heavy Italic"),
        local("BlackerProTextCondensed-HeavyItalic"),
        url("BlackerProTextCondensed-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-HeavyItalic.woff2") format("woff2"),
        url("BlackerProTextCondensed-HeavyItalic.woff") format("woff"),
        url("BlackerProTextCondensed-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-HeavyItalic.eot");
    src:
        local("BlackerPro Display Heavy Italic"),
        local("BlackerProDisplay-HeavyItalic"),
        url("BlackerProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-HeavyItalic.woff2") format("woff2"),
        url("BlackerProDisplay-HeavyItalic.woff") format("woff"),
        url("BlackerProDisplay-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Light.eot");
    src:
        local("BlackerPro Text Condensed Light"),
        local("BlackerProTextCondensed-Light"),
        url("BlackerProTextCondensed-Light.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Light.woff2") format("woff2"),
        url("BlackerProTextCondensed-Light.woff") format("woff"),
        url("BlackerProTextCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Bold.eot");
    src:
        local("BlackerPro Titling Diamond Bold"),
        local("BlackerProTitlingDiamond-Bold"),
        url("BlackerProTitlingDiamond-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Bold.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Bold.woff") format("woff"),
        url("BlackerProTitlingDiamond-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling ExBd";
    src: url("BlackerProTitling-Extrabold.eot");
    src:
        local("BlackerPro Titling Extrabold"),
        local("BlackerProTitling-Extrabold"),
        url("BlackerProTitling-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Extrabold.woff2") format("woff2"),
        url("BlackerProTitling-Extrabold.woff") format("woff"),
        url("BlackerProTitling-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Condensed Book";
    src: url("BlackerProTextCondensed-Book.eot");
    src:
        local("BlackerPro Text Condensed Book"),
        local("BlackerProTextCondensed-Book"),
        url("BlackerProTextCondensed-Book.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Book.woff2") format("woff2"),
        url("BlackerProTextCondensed-Book.woff") format("woff"),
        url("BlackerProTextCondensed-Book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-Regular.eot");
    src:
        local("BlackerPro Text Regular"),
        local("BlackerProText-Regular"),
        url("BlackerProText-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Regular.woff2") format("woff2"),
        url("BlackerProText-Regular.woff") format("woff"),
        url("BlackerProText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-BoldItalic.eot");
    src:
        local("BlackerPro Text Bold Italic"),
        local("BlackerProText-BoldItalic"),
        url("BlackerProText-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-BoldItalic.woff2") format("woff2"),
        url("BlackerProText-BoldItalic.woff") format("woff"),
        url("BlackerProText-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling";
    src: url("BlackerProTitling-Black.eot");
    src:
        local("BlackerPro Titling Black"),
        local("BlackerProTitling-Black"),
        url("BlackerProTitling-Black.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Black.woff2") format("woff2"),
        url("BlackerProTitling-Black.woff") format("woff"),
        url("BlackerProTitling-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed ExBd";
    src: url("BlackerProDisplayCondensed-Extrabold.eot");
    src:
        local("BlackerPro Display Condensed Extrabold"),
        local("BlackerProDisplayCondensed-Extrabold"),
        url("BlackerProDisplayCondensed-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Extrabold.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Extrabold.woff") format("woff"),
        url("BlackerProDisplayCondensed-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-HeavyItalic.eot");
    src:
        local("BlackerPro Display Condensed Heavy Italic"),
        local("BlackerProDisplayCondensed-HeavyItalic"),
        url("BlackerProDisplayCondensed-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-HeavyItalic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-HeavyItalic.woff") format("woff"),
        url("BlackerProDisplayCondensed-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-Medium.eot");
    src:
        local("BlackerPro Display Condensed Medium"),
        local("BlackerProDisplayCondensed-Medium"),
        url("BlackerProDisplayCondensed-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Medium.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Medium.woff") format("woff"),
        url("BlackerProDisplayCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Book";
    src: url("BlackerProText-BookItalic.eot");
    src:
        local("BlackerPro Text Book Italic"),
        local("BlackerProText-BookItalic"),
        url("BlackerProText-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-BookItalic.woff2") format("woff2"),
        url("BlackerProText-BookItalic.woff") format("woff"),
        url("BlackerProText-BookItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Light.eot");
    src:
        local("BlackerPro Display Light"),
        local("BlackerProDisplay-Light"),
        url("BlackerProDisplay-Light.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Light.woff2") format("woff2"),
        url("BlackerProDisplay-Light.woff") format("woff"),
        url("BlackerProDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Medium.eot");
    src:
        local("BlackerPro Titling Diamond Medium"),
        local("BlackerProTitlingDiamond-Medium"),
        url("BlackerProTitlingDiamond-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Medium.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Medium.woff") format("woff"),
        url("BlackerProTitlingDiamond-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-LightItalic.eot");
    src:
        local("BlackerPro Text Light Italic"),
        local("BlackerProText-LightItalic"),
        url("BlackerProText-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-LightItalic.woff2") format("woff2"),
        url("BlackerProText-LightItalic.woff") format("woff"),
        url("BlackerProText-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Heavy.eot");
    src:
        local("BlackerPro Display Heavy"),
        local("BlackerProDisplay-Heavy"),
        url("BlackerProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Heavy.woff2") format("woff2"),
        url("BlackerProDisplay-Heavy.woff") format("woff"),
        url("BlackerProDisplay-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Light.eot");
    src:
        local("BlackerPro Titling Inline Light"),
        local("BlackerProTitlingInline-Light"),
        url("BlackerProTitlingInline-Light.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Light.woff2") format("woff2"),
        url("BlackerProTitlingInline-Light.woff") format("woff"),
        url("BlackerProTitlingInline-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Heavy.eot");
    src:
        local("BlackerPro Text Condensed Heavy"),
        local("BlackerProTextCondensed-Heavy"),
        url("BlackerProTextCondensed-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Heavy.woff2") format("woff2"),
        url("BlackerProTextCondensed-Heavy.woff") format("woff"),
        url("BlackerProTextCondensed-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-BoldItalic.eot");
    src:
        local("BlackerPro Text Condensed Bold Italic"),
        local("BlackerProTextCondensed-BoldItalic"),
        url("BlackerProTextCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-BoldItalic.woff2") format("woff2"),
        url("BlackerProTextCondensed-BoldItalic.woff") format("woff"),
        url("BlackerProTextCondensed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Medium.eot");
    src:
        local("BlackerPro Text Condensed Medium"),
        local("BlackerProTextCondensed-Medium"),
        url("BlackerProTextCondensed-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Medium.woff2") format("woff2"),
        url("BlackerProTextCondensed-Medium.woff") format("woff"),
        url("BlackerProTextCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Medium.eot");
    src:
        local("BlackerPro Titling Inline Medium"),
        local("BlackerProTitlingInline-Medium"),
        url("BlackerProTitlingInline-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Medium.woff2") format("woff2"),
        url("BlackerProTitlingInline-Medium.woff") format("woff"),
        url("BlackerProTitlingInline-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Italic.eot");
    src:
        local("BlackerPro Display Italic"),
        local("BlackerProDisplay-Italic"),
        url("BlackerProDisplay-Italic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Italic.woff2") format("woff2"),
        url("BlackerProDisplay-Italic.woff") format("woff"),
        url("BlackerProDisplay-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Black.eot");
    src:
        local("BlackerPro Titling Inline Black"),
        local("BlackerProTitlingInline-Black"),
        url("BlackerProTitlingInline-Black.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Black.woff2") format("woff2"),
        url("BlackerProTitlingInline-Black.woff") format("woff"),
        url("BlackerProTitlingInline-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Bold.eot");
    src:
        local("BlackerPro Text Condensed Bold"),
        local("BlackerProTextCondensed-Bold"),
        url("BlackerProTextCondensed-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Bold.woff2") format("woff2"),
        url("BlackerProTextCondensed-Bold.woff") format("woff"),
        url("BlackerProTextCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline ExBd";
    src: url("BlackerProTitlingInline-Extrabold.eot");
    src:
        local("BlackerPro Titling Inline Extrabold"),
        local("BlackerProTitlingInline-Extrabold"),
        url("BlackerProTitlingInline-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Extrabold.woff2") format("woff2"),
        url("BlackerProTitlingInline-Extrabold.woff") format("woff"),
        url("BlackerProTitlingInline-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Bold.eot");
    src:
        local("BlackerPro Display Bold"),
        local("BlackerProDisplay-Bold"),
        url("BlackerProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Bold.woff2") format("woff2"),
        url("BlackerProDisplay-Bold.woff") format("woff"),
        url("BlackerProDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-LightItalic.eot");
    src:
        local("BlackerPro Display Light Italic"),
        local("BlackerProDisplay-LightItalic"),
        url("BlackerProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-LightItalic.woff2") format("woff2"),
        url("BlackerProDisplay-LightItalic.woff") format("woff"),
        url("BlackerProDisplay-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-Heavy.eot");
    src:
        local("BlackerPro Text Heavy"),
        local("BlackerProText-Heavy"),
        url("BlackerProText-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Heavy.woff2") format("woff2"),
        url("BlackerProText-Heavy.woff") format("woff"),
        url("BlackerProText-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-Bold.eot");
    src:
        local("BlackerPro Text Bold"),
        local("BlackerProText-Bold"),
        url("BlackerProText-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Bold.woff2") format("woff2"),
        url("BlackerProText-Bold.woff") format("woff"),
        url("BlackerProText-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Heavy.eot");
    src:
        local("BlackerPro Titling Inline Heavy"),
        local("BlackerProTitlingInline-Heavy"),
        url("BlackerProTitlingInline-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Heavy.woff2") format("woff2"),
        url("BlackerProTitlingInline-Heavy.woff") format("woff"),
        url("BlackerProTitlingInline-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Medium.eot");
    src:
        local("BlackerPro Display Medium"),
        local("BlackerProDisplay-Medium"),
        url("BlackerProDisplay-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Medium.woff2") format("woff2"),
        url("BlackerProDisplay-Medium.woff") format("woff"),
        url("BlackerProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-Heavy.eot");
    src:
        local("BlackerPro Display Condensed Heavy"),
        local("BlackerProDisplayCondensed-Heavy"),
        url("BlackerProDisplayCondensed-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Heavy.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Heavy.woff") format("woff"),
        url("BlackerProDisplayCondensed-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-Regular.eot");
    src:
        local("BlackerPro Display Regular"),
        local("BlackerProDisplay-Regular"),
        url("BlackerProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Regular.woff2") format("woff2"),
        url("BlackerProDisplay-Regular.woff") format("woff"),
        url("BlackerProDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-HeavyItalic.eot");
    src:
        local("BlackerPro Text Heavy Italic"),
        local("BlackerProText-HeavyItalic"),
        url("BlackerProText-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-HeavyItalic.woff2") format("woff2"),
        url("BlackerProText-HeavyItalic.woff") format("woff"),
        url("BlackerProText-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling";
    src: url("BlackerProTitling-Heavy.eot");
    src:
        local("BlackerPro Titling Heavy"),
        local("BlackerProTitling-Heavy"),
        url("BlackerProTitling-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Heavy.woff2") format("woff2"),
        url("BlackerProTitling-Heavy.woff") format("woff"),
        url("BlackerProTitling-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-Regular.eot");
    src:
        local("BlackerPro Display Condensed Regular"),
        local("BlackerProDisplayCondensed-Regular"),
        url("BlackerProDisplayCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-Regular.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-Regular.woff") format("woff"),
        url("BlackerProDisplayCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Regular.eot");
    src:
        local("BlackerPro Titling Diamond Regular"),
        local("BlackerProTitlingDiamond-Regular"),
        url("BlackerProTitlingDiamond-Regular.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Regular.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Regular.woff") format("woff"),
        url("BlackerProTitlingDiamond-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-Medium.eot");
    src:
        local("BlackerPro Text Medium"),
        local("BlackerProText-Medium"),
        url("BlackerProText-Medium.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Medium.woff2") format("woff2"),
        url("BlackerProText-Medium.woff") format("woff"),
        url("BlackerProText-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Diamond ExBd";
    src: url("BlackerProTitlingDiamond-Extrabold.eot");
    src:
        local("BlackerPro Titling Diamond Extrabold"),
        local("BlackerProTitlingDiamond-Extrabold"),
        url("BlackerProTitlingDiamond-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Extrabold.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Extrabold.woff") format("woff"),
        url("BlackerProTitlingDiamond-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text";
    src: url("BlackerProText-Italic.eot");
    src:
        local("BlackerPro Text Italic"),
        local("BlackerProText-Italic"),
        url("BlackerProText-Italic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Italic.woff2") format("woff2"),
        url("BlackerProText-Italic.woff") format("woff"),
        url("BlackerProText-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Display Condensed";
    src: url("BlackerProDisplayCondensed-MediumItalic.eot");
    src:
        local("BlackerPro Display Condensed Medium Italic"),
        local("BlackerProDisplayCondensed-MediumItalic"),
        url("BlackerProDisplayCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplayCondensed-MediumItalic.woff2") format("woff2"),
        url("BlackerProDisplayCondensed-MediumItalic.woff") format("woff"),
        url("BlackerProDisplayCondensed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-LightItalic.eot");
    src:
        local("BlackerPro Text Condensed Light Italic"),
        local("BlackerProTextCondensed-LightItalic"),
        url("BlackerProTextCondensed-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-LightItalic.woff2") format("woff2"),
        url("BlackerProTextCondensed-LightItalic.woff") format("woff"),
        url("BlackerProTextCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Text Book";
    src: url("BlackerProText-Book.eot");
    src:
        local("BlackerPro Text Book"),
        local("BlackerProText-Book"),
        url("BlackerProText-Book.eot?#iefix") format("embedded-opentype"),
        url("BlackerProText-Book.woff2") format("woff2"),
        url("BlackerProText-Book.woff") format("woff"),
        url("BlackerProText-Book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display";
    src: url("BlackerProDisplay-BoldItalic.eot");
    src:
        local("BlackerPro Display Bold Italic"),
        local("BlackerProDisplay-BoldItalic"),
        url("BlackerProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-BoldItalic.woff2") format("woff2"),
        url("BlackerProDisplay-BoldItalic.woff") format("woff"),
        url("BlackerProDisplay-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling Diamond";
    src: url("BlackerProTitlingDiamond-Heavy.eot");
    src:
        local("BlackerPro Titling Diamond Heavy"),
        local("BlackerProTitlingDiamond-Heavy"),
        url("BlackerProTitlingDiamond-Heavy.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingDiamond-Heavy.woff2") format("woff2"),
        url("BlackerProTitlingDiamond-Heavy.woff") format("woff"),
        url("BlackerProTitlingDiamond-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Text Condensed";
    src: url("BlackerProTextCondensed-Italic.eot");
    src:
        local("BlackerPro Text Condensed Italic"),
        local("BlackerProTextCondensed-Italic"),
        url("BlackerProTextCondensed-Italic.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTextCondensed-Italic.woff2") format("woff2"),
        url("BlackerProTextCondensed-Italic.woff") format("woff"),
        url("BlackerProTextCondensed-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BlackerPro Titling";
    src: url("BlackerProTitling-Light.eot");
    src:
        local("BlackerPro Titling Light"),
        local("BlackerProTitling-Light"),
        url("BlackerProTitling-Light.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitling-Light.woff2") format("woff2"),
        url("BlackerProTitling-Light.woff") format("woff"),
        url("BlackerProTitling-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Display ExBd";
    src: url("BlackerProDisplay-Extrabold.eot");
    src:
        local("BlackerPro Display Extrabold"),
        local("BlackerProDisplay-Extrabold"),
        url("BlackerProDisplay-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProDisplay-Extrabold.woff2") format("woff2"),
        url("BlackerProDisplay-Extrabold.woff") format("woff"),
        url("BlackerProDisplay-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BlackerPro Titling Inline";
    src: url("BlackerProTitlingInline-Bold.eot");
    src:
        local("BlackerPro Titling Inline Bold"),
        local("BlackerProTitlingInline-Bold"),
        url("BlackerProTitlingInline-Bold.eot?#iefix") format("embedded-opentype"),
        url("BlackerProTitlingInline-Bold.woff2") format("woff2"),
        url("BlackerProTitlingInline-Bold.woff") format("woff"),
        url("BlackerProTitlingInline-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
